.panel {
  color: $accentTextColor;
  margin-bottom: $rhythm;

  &.dark {
    background: rgba(0,0,0,0.25);
    background: linear-gradient(to top left, rgba(0,0,0,0.125), rgba(0,0,0,0.25));
    border-color: rgba(0,0,0,0.125);
    color: $accentTextColor;
  }

  &.light {
    background: rgba(255,255,255,0.15);
    background: linear-gradient(to top left, rgba(255,255,255,0.05), rgba(255,255,255,0.15));
    border-color: rgba(255,255,255,0.05);
  }

  .panel-title {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: capitalize;

    i {
      color: rgba(255,255,255,0.85);
      line-height: 0;
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  .panel-heading {
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgba(0,0,0,0.125);
    padding: 16px;
  }
}
