.panel {
  border-radius: 2px;
  margin-bottom: $rhythm;

  &.dark {
    background-color: rgba(0,0,0,0.25);
    background-image: linear-gradient(to top left, rgba(0,0,0,0.125), rgba(0,0,0,0.25));
    border-color: rgba(0,0,0,0.125);
    color: rgba(255,255,255,0.85);

    .panel-footer,
    .panel-heading {
      border-color: rgba(0,0,0,0.125);
    }
  }

  &.light {
    background-color: rgba(255,255,255,0.15);
    background-image: linear-gradient(to top left, rgba(255,255,255,0.05), rgba(255,255,255,0.15));
    border-color: rgba(255,255,255,0.05);
    color: rgba(0,0,0,0.75);

    .panel-footer,
    .panel-heading {
      border-color: rgba(255,255,255,0.05);
    }
  }

  &-title {
    font-size: 2rem;
    font-weight: 300;
    text-transform: capitalize;

    i {
      line-height: 0;
      margin-right: 5px;
      vertical-align: sub;
    }
  }

  &-heading,
  &-footer {
    border: 0;
    padding: 16px;
  }

  &-heading {   
    border-bottom-width: 1px;
    border-bottom-style: solid;       
  }

  &-footer {
    border-top-width: 1px;
    border-top-style: solid; 
    text-align: right;

    .panel-title {
      font-size: 1.6rem;
    }
  }
}
