.categories-stats {

  &.dark {
    .progress {
      .progress-bar {
        &:last-child:before {
          background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.125));
        }
      }
    }
  }
  
  &.light {
    .progress {
      .progress-bar {
        &:last-child:before {
          background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.15));
        }
      }
    }
  }

  .graph-wrapper {
    height: 300px;
  }

  .table-body {

    .table-data {
      padding: $rhythm 8px;

      .amount {
        margin-right: 5px;
      }
    }
  }

  .table-data {
    cursor: default;

    &:first-child {
      text-align: left;
      width: 30%;
    }

    &:nth-child(2) {
      width: 50%;
    }

    &:last-child {
      text-align: right;
      width: 20%;
    }

    .percentages {
      margin-right: 5px;
    }
  }

  .progress {
    height: $rhythm;
    margin-bottom: 6px;
    margin-top: 7px;
  }

  .recharts-legend-wrapper {
    width: 220px !important;

    @media screen and (max-width: 1200px) {
      width: 120px !important;
    }

    @media screen and (max-width: 992px) {
      width: 220px !important;
    }
  }

  .stats {
    margin-bottom: 0;
  
    .expanded {
  
      &.panel-body {
        height: auto;
      }
    }
  
    .panel-heading {
      cursor: pointer;
    }
  
    .panel-body {
      height: 0;
      overflow: hidden;
      padding: 0;
    }
  }
}
