.categories-stats {

  .panel-body {
    padding-top: 0;
  }

  .graph-wrapper {
    height: 300px;
  }

  .table-head {

    .table-data {
      border-bottom: none;
    }
  }

  .table-body {

    .table-data {
      padding: $rhythm 8px;

      .amount {
        margin-right: 5px;
      }
    }
  }

  .table-data {
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      text-align: left;
      width: 30%;
    }

    &:nth-child(2) {
      width: 50%;
    }

    &:last-child {
      text-align: right;
      width: 20%;
    }

    .percentages {
      margin-right: 5px;
    }
  }

  .progress {
    height: $rhythm;
    margin-bottom: 6px;
    margin-top: 7px;

    .progress-bar {
      background-color: $accentColor;

      &:last-child:before {
        background-color: lighten($accentColor, 50);
      }
    }
  }

  .recharts-legend-wrapper {
    width: 220px !important;

    @media screen and (max-width: 1200px) {
      width: 120px !important;
    }

    @media screen and (max-width: 992px) {
      width: 220px !important;
    }
  }
}

.stats {
  margin-bottom: 0;

  .expanded {

    &.panel-body {
      height: auto;
      padding: 0 10px;
    }
  }

  .panel-heading {
    cursor: pointer;
  }

  .panel-body {
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}
