.filter.panel {

  .panel-body {
    height: auto;
    max-height: calc(100vh - 115px);
    overflow-y: auto;

    .toolbar {
      margin-bottom: $rhythm;
    }

    .categories {
      margin-bottom: 0;

      .category {
        cursor: pointer;
        display: flex;

        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        i {
          margin-right: 5px
        }
      }
    }
  }
}
