.btn {
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1;
  transition: all .3s ease;
  color: $accentTextColor;
}

.button-icon {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;

  &:hover,
  &:focus {
    outline: none;
  }
}
