.category-icon {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: inline-block;
  height: 35px;
  position: relative;
  text-align: center;

  &.dark {
    border-color: rgba(0, 0, 0, 0.125);
  }

  &.light {
    border-color: rgba(255, 255, 255, 0.05);
  }

  &.active {
    border-width: 2px;
  }

  &:hover {
    cursor: pointer;
  }

  strong {
    margin-right: $rhythm;
    vertical-align: super;
  }

  i {
    font-size: 26px;
    line-height: 35px;
  }
}

.icon-select {
  position: absolute;
  width: 270px;
  z-index: 2;

  &.dark {
    
    &:after {
      border-color: rgba(0, 0, 0, 0.8) transparent transparent rgba(0, 0, 0, 0.8);
    }

    .panel {
      background: rgba(0, 0, 0, 0.8);
      background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    }

    .icon-wrapp {
      color: rgba(255, 255, 255, 0.85);

      &.active,
      &:focus,
      &:hover {
        background: rgba(0, 0, 0, 0.8);
        border-color: rgba(255, 255, 255, 0.85);
      }
    }
  }

  &.light {

    &:after {
      border-color: rgba(255,255,255,0.95) transparent transparent rgba(255,255,255,0.95);
    }

    .panel {
      background: rgba(255,255,255,0.95);
      background: linear-gradient(to right, rgba(255,255,255,0.95), rgba(255,255,255,0.85));
    }

    .icon-wrapp {
      color: rgba(0, 0, 0, 0.75);

      &.active,
      &:focus,
      &:hover {
        background: rgba(255,255,255,0.95);
        border-color: rgba(0, 0, 0, 0.75);
      }
    }
  }

  &:after {
    border: 10px solid transparent;
    content: '';
    display: block;
    height: $rhythm*2;
    position: absolute;
    transform: rotate(45deg);
    width: $rhythm*2;
    z-index: -1;
  }

  &.bottom {
    left: 50%;
    margin-left: -135px;
    top: $rhythm*6;

    &:after {
      left: 50%;
      margin-left: -$rhythm;
      top: -$rhythm;
    }
  }

  &.top {
    left: 50%;
    margin-left: -135px;
    bottom: $rhythm*6;

    &:after {
      left: 50%;
      margin-left: -$rhythm;
      bottom: -$rhythm;
    }
  }

  &.left {
    right: $rhythm*6;
    top: 50%;
    transform: translateY(-50%);

    &:after {
      right: -$rhythm;
      top: 50%;
      margin-top: -$rhythm;
    }
  }

  &.right {
    left: $rhythm*6;
    top: 50%;
    transform: translateY(-50%);

    &:after {
      left: -10px;
      top: 50%;
      margin-top: -$rhythm;
    }
  }

  .panel {
    margin: 0;
  }

  .panel-body {
    padding: 0;
  }

  .icon-wrapp {
    border: 1px solid transparent;
    float: left;
    height: 45px;
    padding: 5px;
    text-align: center;
    transition: all .3s ease;
    width: 45px;
    cursor: pointer;

    i {
      font-size: 26px;
      line-height: 36px;
    }
  }
}
