.category-icon {
  box-shadow: inset 0 -1px 0 $borderColor;
  display: inline-block;
  height: 35px;
  position: relative;
  text-align: center;

  &.active {
    box-shadow: inset 0 -2px 0 $accentColor;
  }

  &:hover {
    cursor: pointer;
  }

  strong {
    margin-right: $rhythm;
    vertical-align: super;
  }

  i {
    font-size: 30px;
    line-height: 35px;
  }
}

.icon-select {
  position: absolute;
  width: 270px;
  z-index: 2;

  &:after {
    background-color: $accentTextColor;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    content: '';
    display: block;
    height: $rhythm*2;
    position: absolute;
    transform: rotate(45deg);
    width: $rhythm*2;
    z-index: -1;
  }

  &.bottom {
    left: 50%;
    margin-left: -135px;
    top: $rhythm*6;

    &:after {
      left: 50%;
      margin-left: -$rhythm;
      top: -$rhythm;
    }
  }

  &.top {
    left: 50%;
    margin-left: -135px;
    bottom: $rhythm*6;

    &:after {
      left: 50%;
      margin-left: -$rhythm;
      bottom: -$rhythm;
    }
  }

  &.left {
    right: $rhythm*6;
    top: 50%;
    transform: translateY(-50%);

    &:after {
      right: -$rhythm;
      top: 50%;
      margin-top: -$rhythm;
    }
  }

  &.right {
    left: $rhythm*6;
    top: 50%;
    transform: translateY(-50%);

    &:after {
      left: -10px;
      top: 50%;
      margin-top: -$rhythm;
    }
  }

  .panel {
    margin: 0;
  }

  .panel-body {
    padding: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      height: 45px;
      text-align: center;
      transition: all .3s ease;
      width: 45px;

      &.active,
      &:focus,
      &:hover {
        background-color: #666;
        color: $accentTextColor;
        cursor: pointer;
      }

      i {
        font-size: 36px;
        line-height: 46px;
      }
    }
  }
}
