.category-color {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: inline-block;
  height: 35px;
  position: relative;
  text-align: center;

  &.dark {
    border-color: rgba(0, 0, 0, 0.125);
  }

  &.light {
    border-color: rgba(255, 255, 255, 0.05);
  }

  &.active {
    border-width: 2px;
  }

  &:hover {
    cursor: pointer;
  }

  strong {
    margin-right: 10px;
    vertical-align: super;
  }

  span {
    line-height: 0;
  }

  .colorRound {
    border-radius: 50%;
    display: inline-block;
    height: 26px;
    width: 26px;
  }

  .colorWrapper {
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    padding: 3px;
  }
}

.color-select {
  position: absolute;
  width: 270px;
  z-index: 2;

  &.dark {

    &:after {
      border-color: rgba(0, 0, 0, 0.8) transparent transparent rgba(0, 0, 0, 0.8);
    }

    .panel {
      background: rgba(0, 0, 0, 0.8);
      background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    }
  }

  &.light {

    &:after {
      border-color: rgba(255,255,255,0.95) transparent transparent rgba(255,255,255,0.95);
    }

    .panel {
      background: rgba(255,255,255,0.95);
      background: linear-gradient(to right, rgba(255,255,255,0.95), rgba(255,255,255,0.85));
    }
  }

  &:after {
    border: 10px solid transparent;
    content: '';
    display: block;
    height: $rhythm*2;
    position: absolute;
    transform: rotate(45deg);
    width: 20px;
    z-index: -1;
  }

  &.bottom {
    left: 50%;
    margin-left: -135px;
    top: $rhythm*6;

    &:after {
      left: 50%;
      margin-left: -10px;
      top: -$rhythm;
    }
  }

  &.top {
    left: 50%;
    margin-left: -135px;
    bottom: $rhythm*6;

    &:after {
      left: 50%;
      margin-left: -10px;
      bottom: -$rhythm;
    }
  }

  &.left {
    right: 60px;
    top: 50%;
    transform: translateY(-50%);

    &:after {
      right: -10px;
      top: 50%;
      margin-top: -$rhythm;
    }
  }

  &.right {
    left: 60px;
    top: 50%;
    transform: translateY(-50%);

    &:after {
      left: -10px;
      top: 50%;
      margin-top: -$rhythm;
    }
  }

  .panel-body {
    padding: 0;
  }

  .color-wrapp {
    float: left;
    height: 45px;
    padding: 5px;
    position: relative;
    text-align: center;
    width: 45px;

    &.active {
      i {
        color: $accentTextColor;
      }
    }

    i {
      color: transparent;
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translate(-50%);
    }
  }
}
