.results {

  .badge {
    background-color: #7F7B82;
  }

  .list-group {
    margin-bottom: 0;
  }

  h6 {
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;

    &.result-item {
      margin: 10px 0;
    }
  }
}
