$mainTheme: #33373e;
$accentColor: #b91919;
$accentTextColor: #fff;
$successColor: #20803f;
$borderColor: #ddd;

$borderLight: $accentTextColor;

// 30C5FF - blue
// 454ADE - blue B14AED - purple C874D9 - mauve
