// Variables
@import "variables";
// Vendors
@import "vendor/mdl/material";
@import "vendor/bootstrap/theme";
// Components
@import "../components/adding-panel/adding-panel";
// Containers
@import "../containers/header/header";
@import "../containers/footer/footer";
@import "../containers/categories/categories";

// Sticky Footer
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
  padding-top: 65px;
  z-index: 2;
}
// ---------------
