// Variables
@import "variables";
// Vendors
@import "vendor/mdl/material";
@import "vendor/bootstrap/theme";
// Components
@import "../components/adding-panel/adding-panel";
@import "../components/transactions-table/transactions-table";
@import "../components/currency-rate/currency-rate";
// Containers
@import "../containers/header/header";
@import "../containers/footer/footer";
@import "../containers/categories/categories";

// Sticky Footer
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
  z-index: 2;
}
// ---------------
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
// ---------------
