.import {

  .toolbar {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: center;
  }

  p {
    text-transform: uppercase;
  }

  .inputfile {
  	width: 0.1px;
  	height: 0.1px;
  	opacity: 0;
  	overflow: hidden;
  	position: absolute;
  	z-index: -1;
  }

  .label-load {
    cursor: pointer;
    margin-right: 10px;
  }
}
