.import {

  .toolbar {
    border: 1px solid transparent;
    padding: $rhythm 10px;
    text-align: center;
  }

  p {
    text-transform: uppercase;
  }

  .inputfile {
  	width: .1px;
  	height: .1px;
  	opacity: 0;
  	overflow: hidden;
  	position: absolute;
  	z-index: -1;
  }

  .label-load {
    cursor: pointer;
    margin-right: 10px;
  }

  .file {
    border-top: 1px solid $accentColor;
    border-bottom: 1px solid $accentColor;
    display: flex;
    justify-content: space-between;
    margin-bottom: $rhythm*2;
    padding: $rhythm 0;

    i {
      color: $successColor;
    }
  }
}

.dark {
  .toolbar {
    border-color: rgba(0, 0, 0, 0.125);;
  }
}

.light {
  .toolbar {
    border-color: rgba(255, 255, 255, 0.05);;
  }
}
