.transactions {

  .table-body {
    max-height: calc(100vh - 239px);
    overflow-y: auto;
  }
}

.table {
  margin-bottom: 0;
  position: relative;
  padding-top: 45px;

  &.dark {

    .table-head {
      background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.125));
    }

    .table-data {
      border-color: rgba(0,0,0,0.125);
    }

    .table-row {

      &:nth-of-type(odd) {
        background-color: rgba(0,0,0,0.125);
      }
    }
  }

  &.light {

    .table-head {
      background: linear-gradient(to bottom right, rgba(255,255,255,0.15), rgba(255,255,255,0.05));
    }

    .table-data {
      border-color: rgba(255,255,255,0.05);
    }

    .table-row {

      &:nth-of-type(odd) {
        background-color: rgba(255,255,255,0.05);
      }
    }
  }

  &-head {
    height: 46px;
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    top: 0;

    .table-data {
      cursor: pointer;
      font-weight: 600;
      position: relative;
      text-transform: uppercase;

      &.active {
        color: $accentColor;
      }

      .filter-arrow {
        position: absolute;
      }

      i {
        vertical-align: bottom;
      }
    }
  }

  &-body {
    position: relative;

    .table-data {
      border-top-width: 1px;
      border-top-style: solid;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:nth-last-child(2) {
        padding-right: 75px;
      }
    }

    .form-control {
      color: $accentColor;
      font-size: 13px;
      height: 23px;
      padding: 0;
    }
  }

  &-row {
    cursor: pointer;
    overflow-x: hidden;
    position: relative;
  }

  &-data {
    float: left;
    min-height: 46px;
    padding: $rhythm 10px;

    &:nth-child(1) { width: 20%; }
    &:nth-child(2) { width: 20%; }
    &:nth-child(3) { width: 40%; }
    &:nth-child(4) { width: 20%; }

    .icon-wrapper {
      border-radius: 50%;
      display: inline-block;
      height: 25px;
      line-height: 20px;
      margin-right: 5px;
      padding: 3px;
      text-align: center;
      vertical-align: middle;
      width: 25px;

      .fa {
        color: $accentTextColor;
      }
    }
  }

  .change-menu,
  .edit-menu {
    background-color: #7F7B82 !important;
    opacity: 0;
    padding: 8px 10px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: 0;
    transition: all .3s ease;
    width: 70px;

    &.active {
      opacity: 1;
      right: 0;
    }

    .button-icon {
      color: $accentTextColor;
      font-size: 16px;
      margin-right: 0;

      &:hover {
        color: $accentColor;
      }

      &:first-child {
        border-right: 1px solid $borderLight;
        margin-right: 10px;
        padding-right: 10px;
      }
    }
  }

  .change-menu {
    background-color: $accentColor !important;

    .button-icon {

      &:hover {
        color: #7F7B82;
      }
    }
  }
}
