.transactions {

  .table-body {
    max-height: calc(100vh - 239px);
    overflow-y: auto;
  }
}

.table {
  margin-bottom: 0;
  position: relative;
  padding-top: 45px;

  &.dark {

    .table-head {
      background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.125));
    }

    .table-data {
      border-color: rgba(0,0,0,0.125);
    }

    .table-row {
      border-color: rgba(0,0,0,0.125);

      &:nth-of-type(odd) {
        background-color: rgba(0,0,0,0.125);
      }
    }

    .change-menu,
    .edit-menu {
      background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.125));
      border-color: rgba(0,0,0,0.125);
    }

    .button-icon {

      &:hover {
        background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.125));
      }
      
      &:first-child {
        border-color: rgba(0,0,0,0.125);
      }
    }
  }

  &.light {

    .table-head {
      background: linear-gradient(to bottom right, rgba(255,255,255,0.15), rgba(255,255,255,0.05));
    }

    .table-data {
      border-color: rgba(255,255,255,0.05);
    }

    .table-row {
      border-color: rgba(255,255,255,0.05);

      &:nth-of-type(odd) {
        background-color: rgba(255,255,255,0.05);
      }
    }

    .change-menu,
    .edit-menu {
      background: linear-gradient(to bottom right, rgba(255,255,255,0.15), rgba(255,255,255,0.05));
      border-color: rgba(255,255,255,0.05);
    }

    .button-icon {

      &:hover {
        background: linear-gradient(to bottom right, rgba(255,255,255,0.15), rgba(255,255,255,0.05));
      }
      
      &:first-child {
        border-color: rgba(255,255,255,0.05);
      }
    }
  }

  &-head {
    height: 45px;
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    top: 0;

    .table-row {
      border-left-style: solid;
      border-left-width: 1px;
    }

    .table-data {
      border-top-style: solid;
      border-top-width: 1px;
      border-right-style: solid;
      border-right-width: 1px;
      cursor: pointer;
      font-weight: 600;
      position: relative;
      text-transform: uppercase;

      &.active {
        color: #fff;
      }

      .filter-arrow {
        position: absolute;
      }

      i {
        vertical-align: bottom;
      }
    }
  }

  &-body {
    position: relative;

    .table-row {
      border-bottom: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;

      &:last-child {
        border-bottom: none;
      }
    }

    .table-data {
      border-right-width: 1px;
      border-right-style: solid;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:nth-last-child(2) {
        border-right: none;
        padding-right: 85px;
      }

      .form-control {
        font-size: 13px;
        height: 26px;
        padding: 5px 10px;
      }
    }
  }

  &-row {
    cursor: pointer;
    overflow-x: hidden;
    position: relative;
  }

  &-data {
    float: left;
    min-height: 46px;
    padding: $rhythm 10px;

    &:nth-child(1) { width: 20%; }
    &:nth-child(2) { width: 20%; }
    &:nth-child(3) { width: 40%; }
    &:nth-child(4) { width: 20%; }

    .icon-wrapper {
      border-radius: 50%;
      display: inline-block;
      height: 25px;
      line-height: 20px;
      margin-right: 5px;
      padding: 3px;
      text-align: center;
      vertical-align: middle;
      width: 25px;

      .fa {
        color: $accentTextColor;
      }
    }
  }

  .change-menu,
  .edit-menu {
    border-style: solid;
    border-width: 1px;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: -62px;
    text-align: center;
    top: 0;
    transition: all .3s ease;
    width: 82px;

    &.active {
      opacity: 1;
      right: 0;
    }

    .button-icon {
      font-size: 16px;
      margin-right: 0;
      line-height: 44px;
      width: 40px;

      &:first-child {
        border-right-style: solid;
        border-right-width: 1px;
      }
    }
  }
}
