.export {

  .toolbar {
    border: 2px dashed transparent;
    padding: $rhythm 10px;
    text-align: center;
  }

  p {
    text-transform: uppercase;
  }
}

.dark {
  .toolbar {
    border-color: rgba(0, 0, 0, 0.2);
  }
}

.light {
  .toolbar {
    border-color: rgba(255, 255, 255, 0.05);
  }
}
