.adding-panel-wrapper {
  background-color: rgba(0,0,0,.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;

  .adding-panel {
    background-color: #fff;
    left: 50%;
    margin-bottom: 0;
    min-width: 320px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 40%;
  }

  .form-item {
    margin-bottom: 20px;

    input, select {
      font-size: 14px;
      padding: 5px;
    }

    select {
      max-height: 200px;
      overflow-y: auto;

      option {
        font-size: 90%;
        padding: 0;
      }
    }
  }

  .label {
    color: $accentColor;
    font-size: 12px;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .btn-primary {
    margin-right: 10px;
  }


  .autocomplete {

    & > div {

      & > div {
        left: auto !important;
        top: auto !important;

        & > div {
          cursor: pointer !important;
        }
      }
    }
  }
}
