.navbar {
  background-color: $mainTheme;
  border-radius: 0;
  margin-bottom: 10px;
  min-height: 40px;

  .icon-bar {
    background-color: $accentTextColor;
  }

  &-nav {

    li {

      a {
        color: $accentTextColor;
        text-transform: uppercase;
        padding-bottom: 10px;
        padding-top: 10px;

        &:hover,
        &:focus {
          background-color: rgba(255,255,255,.2);
          color: $accentTextColor;
        }

        &.active {
          background-color: rgba(185,25,25,.6);          

          &:hover {
            cursor: default;
          }
        }

        .navigation__item {
          margin-left: 10px;
          vertical-align: super;
        }
      }
    }
  }
}
