.navbar {
  border-color: rgba(0,0,0,0.25);
  border-radius: 0;
  height: 100vh;
  left: -300px;
  margin-bottom: $rhythm;
  min-height: $rhythm*4;
  transition: ease all .2s;
  width: 0;

  &.dark {
    background: rgba(0,0,0,0.125);
    background: linear-gradient(to bottom right, rgba(0,0,0,0.25), rgba(0,0,0,0));

    a {
      background-image: linear-gradient(to right, rgba(0,0,0,0.25), rgba(0,0,0,0));

      &.active {
        background-image: linear-gradient(to left, rgba(0,0,0,0.125), rgba(0,0,0,0.25));
      }
    }
  }

  &.light {
    background: rgba(255,255,255,0.05);
    background: linear-gradient(to bottom right, rgba(255,255,255,0.15), rgba(255,255,255,0));

    a {
      background-image: linear-gradient(to right, rgba(255,255,255,0.15), rgba(255,255,255,0));
      color: rgba(0,0,0,0.75);

      &.active {
        background-image: linear-gradient(to left, rgba(0,0,0,0.125), rgba(0,0,0,0.25));
      }
    }
  }

  .icon-bar {
    background-color: $accentTextColor;
  }

  .navigation {
    float: none;

    li {
      display: block;
      float: none;

      a {
        align-items: center;
        color: $accentTextColor;
        display: flex;
        text-transform: uppercase;
        height: $rhythm*6;
        transition: all .3s ease;

        &:hover,
        &:focus {
          background-position: -252px;
        }

        &.active {

          &:hover {
            cursor: default;
          }
        }

        .navigation__item {
          margin-left: 20px;
        }
      }
    }
  }
}

// ---Navigation---
.App {
  &.visible-menu {
    .navbar {
      width: 300px;
      left: 0;
    }
    .main {
      margin-left: 300px;
    }
    .overflow {
      display: block;
    }
  }
}
.showMenu {
  line-height: 1;
  right: 10px;
  position: fixed;
  top: $rhythm;
  z-index: 99999;
}
.overflow {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //background-color: rgba(0,0,0,0.2);
  z-index: 2;
}
