.reports {

  .expanded {

    .panel-heading {

      .right {

        i {
          transform: rotate(180deg);
        }
      }
    }

    .panel-body {
      height: auto;
    }
  }

  button.panel-heading {
    background-color: transparent;
    width: 100%;
  }

  .panel-heading {
    cursor: pointer;

    i {
      transition: all .3s ease;
    }
  }

  .panel-body {
    height: 0;
    overflow: hidden;
  }

  .res-table {

    .panel-body {
      padding: 0;
    }
  }

  .amount-wrapper {
    display: flex;
    font-size: 14px;
    justify-content: space-between;

    span {
      font-weight: 900;
      margin: 0 5px;
    }
  }
}
