.reports {

  .expanded {

    .panel-body {
      height: auto;
    }
  }

  .panel-heading {
    cursor: pointer;
  }

  .panel-body {
    height: 0;
    overflow: hidden;
  }

  .table-head {

    .table-data {
      cursor: default;
    }
  }

  .table-row {
    cursor: default;
  }

  .amount-wrapper {
    display: flex;

    .amount {
      font-size: 14px;

      span {
        margin-right: 5px;
      }
    }

    h5:not(:last-child) {
      border-right: 1px solid #dddddd;
      margin-right: 10px;
      padding-right: 10px;
    }
  }
}
