.footer {
  margin-top: $rhythm;
  padding: 0 10px;

  &.dark {
    background: rgba(0,0,0,0.125);
    background: linear-gradient(to left, rgba(0,0,0,0.125), rgba(0,0,0,0.25));
    border-top: 1px solid rgba(0,0,0,0.125);
    color: rgba(255,255,255,0.85);

    a {
      color: rgba(255,255,255,0.85);
    }
  }

  &.light {
    background: rgba(255,255,255,0.05);
    background: linear-gradient(to left, rgba(255,255,255,0.05), rgba(255,255,255,0.15));
    border-top: 1px solid rgba(255,255,255,0.05);
    color: rgba(0,0,0,0.75);

    a {
      color: rgba(0,0,0,0.75);
    }
  }

  @media screen and (max-width: 992px) {
    text-align: center;
  }

  .logo {
    font-size: 26px;
  }

  ul {
    line-height: 47px;

    li {

      a {

        i {
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }
  }

  h6 {
    font-weight: 900;
    line-height: 47px;
    margin: 0;
    text-align: right;
    text-transform: uppercase;

    @media screen and (max-width: 992px) {
      text-align: center;
    }

    &.heart {
      i {
        animation: heart 1s ease infinite;
        color: #e51c23;
        margin-left: 5px;
        vertical-align: middle;
      }
    }

    a { margin-left: 5px; }
  }
}

@keyframes heart {
  0% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

// ---Word animation
.anim-letter {
  cursor: default;
  display: inline-block;
  transition: transform .2s;

  &:hover {
    transform: translateY(-5px) rotate(10deg) scale(1.5);
  }
}
