.footer {
  background-color: $mainTheme;
  padding: 0 40px;

  ul {
    line-height: 47px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {

      a {
        color: $accentTextColor;

        i {
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }
  }
}
