.categories {

  .btn-primary {
    margin-left: 10px;
  }

  .form-control {
    font-size: 14px;
  }

  &-panel {

    &>.panel-body {
      padding-bottom: 0;
    }
  }

  legend {
    border-bottom: 0;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}

.category {

  .panel-body {
    padding: 10px;

    h5 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0
    }

    .close {
      position: absolute;
      right: 20px;
      top: 5px;
    }
  }
}
