.categories {

  .btn-primary {
    margin-left: 10px;
  }

  .form-control {
    font-size: 14px;
  }

  &-panel {

    &>.panel-body {
      padding-bottom: 0;
    }

    .toolbar {

      .btn {
        padding: 6px;

        i {
          padding-right: 0;
        }
      }
    }
  }

  &-wrapper {
    max-height: calc(100vh - 285px);
    overflow-y: auto;
    padding-right: 5px;
    /*Scrollbar*/
    &::-webkit-scrollbar-button {
      height: 0px;
      width: 5px;
    }

    &::-webkit-scrollbar-track { background-color: #ecedee; }
    &::-webkit-scrollbar-thumb { background-color: $accentColor; border-radius: 3px;}
    &::-webkit-scrollbar-thumb:hover { background-color: darken($accentColor, 10%); }

    &::-webkit-resizer {
      height: 0px;
      width: 5px;
    }

    &::-webkit-scrollbar { width: 8px; }

    .table-row {

      &:hover {

      }

      &:nth-of-type(odd) {


        &:hover {

        }
      }
    }
  }

  &-wrapper.grid {
    display: flex;
    flex-wrap: wrap;

    .category-card {
      width: calc(20% - 8px);

      &:not(:nth-child(5n+5)) {
        margin-right: 10px;
      }
    }

    .category {

      .panel-body {
        display: flex;
        justify-content: center;
        min-height: 220px;
        padding: $rhythm 10px;
        padding-top: $rhythm*7;
        text-align: center;

        & > div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        h5 {
          margin-top: 0;
        }

        blockquote {
          margin-bottom: $rhythm;
          padding: $rhythm 15px;

          small {

            &:before {
              display: none;
            }
          }
        }
      }

      .categ-icon {
        height: $rhythm*6;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;

        i {
          color: $accentTextColor;
          font-size: 36px;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &-wrapper.list {

    .panel-body {
      padding-left: 70px;

      & > div {
        display: flex;
        justify-content: space-between;
      }
    }

    h5 {
      margin: 0;
    }

    blockquote {
      margin-bottom: 0;
    }

    .categ-icon {
      height: 100%;
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 60px;

      i {
        color: $accentTextColor;
        font-size: 20px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  legend {
    border-bottom: 0;
    font-size: 18px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}

.categoriesView {
  margin-bottom: $rhythm;

  .toolbar {
    text-align: right;
  }
}
