.header {
  position: fixed;
  width: 100%;
  z-index: 3;

  .languages {
    padding: 9px 10px;

    li {
      color: $accentTextColor;
      padding: 0 2px;

      span {
        cursor: pointer;
        line-height: 23px;
        text-transform: uppercase;

        &.active {
          color: $accentColor;

          img {
            opacity: 1;
          }
        }
      }

      button {
        background-color: transparent;
        border: 0;
        line-height: 23px;
        text-transform: uppercase;
        padding: 0;

        &.active {
          color: $accentColor;
        }
      }
    }
  }

  .flag-icon {
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    overflow: hidden;
    vertical-align: bottom;

    img {
      width: 26px;
      opacity: .5;
    }
  }
}
