.header {
  position: fixed;
  width: 100%;
  z-index: 3;

  .languages {
    padding: 9px 10px;

    li {
      color: $accentTextColor;
      padding: 0 2px;

      span {
        cursor: pointer;
        line-height: 23px;
        text-transform: uppercase;

        &.active {
          color: $accentColor;
        }
      }
    }
  }
}
