.tr-table {

  .panel-body {
    padding: 0;
  }
}

.toolbar {

  .btn {

    &:first-child {
      margin-right: 10px;
    }
  }
}

.amount {
  margin: 0;

  & > span {
    color: $accentColor;
    margin-left: 5px;
  }
}

.autocomplete {

  & > div {
    display: block !important;

    & > div {
      z-index: 9999;
    }
  }

  input {
    width: 100%;
    height: 35px;
    color: #666666;
    border: 1px solid transparent;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-appearance: none;
    box-shadow: inset 0 -1px 0 $borderColor;

    &:focus {
      box-shadow: inset 0 -2px 0 #b91919;
      outline: none;
    }
  }
}

.panel-title.panel-footer {
  padding: 0;
  text-align: right;
  text-transform: none;
}

.transactions {

  .list-group {
    margin-bottom: 20px;
  }

  .table-data {

    &:nth-child(1) { width: 15%; }
    &:nth-child(2) { width: 15%; }
    &:nth-child(3) { width: 40%; }
    &:nth-child(4) { width: 30%; }
  }
}
