.tr-table {

  .panel-body {
    max-height: calc(100vh - 310px);
    overflow-y: auto;
    padding: 0;
  }
}

.toolbar {

  .btn {

    &:first-child {
      margin-right: 10px;
    }
  }
}

.amount-wrapper {

  .amount {
    margin: 0;

    span {
      color: $accentColor;
      margin-left: 5px;
    }
  }
}

.autocomplete {

  & > div {
    display: block !important;

    & > div {
      z-index: 9999;
    }
  }

  input {
    width: 100%;
    height: 35px;
    color: #666666;
    border: 1px solid transparent;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-appearance: none;
    box-shadow: inset 0 -1px 0 #dddddd;

    &:focus {
      box-shadow: inset 0 -2px 0 #b91919;
      outline: none;
    }
  }
}
